<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            Elasticsearch Ecommerce
        </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" rel="stylesheet" media="screen,projection,print">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&amp;display=swap" media="screen,projection,print">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital@0;1&amp;display=swap" media="screen,projection,print">

        <link rel="stylesheet" href="/stylesheets/globals.css" media="screen,projection,print">
        <link rel="stylesheet" href="/stylesheets/header.css" media="screen,projection,print">
        <link rel="stylesheet" href="/stylesheets/footer.css" media="screen,projection,print">
        <link rel="stylesheet" href="/stylesheets/filters.css" media="screen,projection,print">
        <link rel="stylesheet" href="/stylesheets/product-list-item.css" media="screen,projection,print">
        <link rel="stylesheet" href="/stylesheets/products.css" media="screen,projection,print">

        <meta name="title" content="E3Retail | Home">
        <meta
            name="description"
            content="An E-commerce products-list website that demonstrates the application of Elasticsearch in retail & online shopping"
        />
        <meta
            name="keywords"
            content="elasticsearch, e-commerce, online shopping, retail, egen solutions, ashwin hariharan, projects, open source, tutorial"
        >
        <meta property="title" content="E3Retail - Products" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="E3Retail - Products">
        <meta property="og:description" content="An E-commerce products-list website that demonstrates the application of Elasticsearch in retail & online shopping">
        <meta property="og:image" content="https://raw.githubusercontent.com/booleanhunter-tech-blog/e3-retail/main/public/images/e3-retail_search.png">
        <meta property="og:image:width" content="640" />
        <meta property="og:image:height" content="442" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="E3Retail - Products">
        <meta property="twitter:description" content="An E-commerce products-list website that demonstrates the application of Elasticsearch in retail & online shopping">
        <meta property="twitter:image" content="https://raw.githubusercontent.com/booleanhunter-tech-blog/e3-retail/main/public/images/e3-retail_search.png">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="E3Retail - Products">
        <meta name="twitter:description" content="An E-commerce products-list website that demonstrates the application of Elasticsearch in retail & online shopping">
        <meta name="twitter:image" content="https://raw.githubusercontent.com/booleanhunter-tech-blog/e3-retail/main/public/images/e3-retail_search.png">
        <meta name="twitter:site" content="@booleanhunter">
        <meta name="twitter:creator" content="@booleanhunter">
    </head>

    <body>
        {{> header filters=filters}}

        <main>
            <details>
                <summary>
                    <h2>
                        Filters
                    </h2>
                </summary>

                <form
                    id="filters"
                    class="filters"
                    action="/products/search"
                    name="filters"
                    method="get">

                    {{> filters filters=filters }}

                </form>
            
            </details>

            <section>
                <h2 id="product-list-header">
                    {{ productsInfo.total.value }} products
                </h2>

                <div id="product-list-container">
                    {{> product_list products=productsInfo.products }}
                </div>

                <div id="product-section-footer-container">
                    {{> pagination paginationInfo=paginationInfo}}
                </div>
            </section>
        </main>

        {{> footer }}

        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
        <script type="module" src="/scripts/handlebars-templates.js"></script>
        <script type="module" src="/modules/index.js"></script>
    </body>

</html>
